* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a:link {
  text-decoration: none;
}

body {
  background-color: white;
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  overflow: hidden;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 90vh;
  margin: 5vh 0;
}

section > * {
  margin: 1vh 0;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.logo img {
  width: 40%;
}

.mainphoto {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mainphoto img {
  border-radius: 50%;
  width: 50%;
  -webkit-box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15);
}

h1 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 200;
  font-size: 4vw;
}

.hide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow-x: hidden;
}

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 0;
}

.gallery img {
  margin: 0 2%;
  width: 16%;
  right: 0%;
  -webkit-transition: 1s ease;
  -o-transition: 1s ease;
  transition: 1s ease;
  -webkit-box-shadow: 0 3px 4px rgba(0, 0, 0, 0.6);
          box-shadow: 0 3px 4px rgba(0, 0, 0, 0.6);
}

.welcome {
  text-align: center;
  font-size: medium;
  font-weight: 300;
  line-height: 1.2;
  margin-top: 4vh;
}

.computer {
  display: none;
}

a {
  width: 100%;
}

footer {
  background-color: #530a0a;
  color: white;
  font-size: 5vw;
  line-height: 6vh;
  text-align: center;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
}

@media screen and (min-width: 550px) {
  section {
    margin: 2vh 0;
  }
  .mainphoto img {
    width: 300px;
  }
  h1 {
    font-size: 20px;
  }
  footer {
    font-size: 25px;
  }
}

@media screen and (min-width: 900px) {
  section {
    max-height: 100vh;
    overflow: hidden;
  }
  .phone {
    display: none;
  }
  .computer {
    display: inline;
  }
  .logo {
    width: 30%;
  }
  .mainphoto img {
    width: 300px;
  }
  h1 {
    font-size: 40px;
    font-weight: 100;
  }
  .hide {
    width: 50%;
  }
  .welcome {
    font-size: 20px;
  }
}

body {
  cursor: none;
}

::-moz-selection {
  color: white;
  background: #530a0a;
}

::selection {
  color: white;
  background: #530a0a;
}

.cursor {
  width: 10px;
  height: 10px;
  position: absolute;
  background: black;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 50%;
  -webkit-transition: .05s linear;
  -o-transition: .05s linear;
  transition: .05s linear;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 2;
}

a:link {
  cursor: none;
}

@media screen and (max-width: 900px) {
  body {
    cursor: default;
    overflow-y: scroll;
  }
  .cursor {
    display: none;
  }
  a:link {
    cursor: pointer;
  }
}
/*# sourceMappingURL=style.css.map */